h1 {
  color: blue;
}
h2 {
      color: blueviolet"
}
h3 {
    color:aqua
}
h4 {
    color:rgb(139, 40, 215)
}
p {
    color:rgb(34, 0, 255)
}
class
.blue-color {
    color: blue
}
#venue {
    color:blueviolet
}