audio {
  display: block;
  margin-bottom: 20px;
}

button {
  fontsize: 1.3rem;
  border-radius: 12px;
  padding: 8px;
  cursor: pointer;
  background-color: antiquewhite;
}

button:hover {
  scale: 0.9;
}
